html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}
.ATM{
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px;
    background-color:#a9b4c2;
}
.ATM__title{
    text-align: center;
    font-size: 30px;
}
.ATM__info{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #c5c2c2;
    border-radius: 15px;
}
.ATM__screen{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
a{
    text-decoration: none;
    background-color: #22a0b6 !important;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    display:inline-block;
    min-width:40% ;
    text-align: center;
    transition-property: background-color;
    transition-duration: .3s;
    &:hover{
        background-color: rgba(34, 160, 182, 0.7) !important;
    }
}
.input{
    min-width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
}
.ATM__links{
    padding-top: 20px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
.error{
    display: block;
    width: 100%;
    color: #fff;
    background-color: #d82d2d;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
}
.ATM__numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
}
button{
    background-color: #5fffbf;
    color: #000;
    border-radius: 50%;
    border: 1px solid #000000;
    line-height: 1; 
    padding: 10px; 
    width: 40px; 
    height: 40px;
    text-align: center; 
    display: inline-block;
    overflow: hidden; 
    &:hover{
        cursor: pointer;
        color: #fff;
    }
}